<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- User Bean -->
	<bean id="user" class="com.bean.User">
		<property name="name">
			<value>小强</value>
		</property>
		<property name="age">
			<value>26</value>
		</property>
		<property name="sex">
			<value>男</value>
		</property>
	</bean>
	<!-- 注入JavaBean -->
	<bean autowire="byType" id="printInfo" class="com.bean.PrintInfo"></bean>
	<bean id="user1" class="com.xbh.UserInfo">
		<property name="name">
			<value>小明</value>
		</property>
		<property name="sex">
			<value>男</value>
		</property>
		<property name="age">
			<value>26</value>
		</property>
		<property name="date">
			<value>1993/2/8</value>
		</property>
	</bean>
	<bean id="customEditorConfiguter"
		class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.util.Date">
					<bean id="MyDateEditor" class="com.xbh.MyDateEditor"></bean>
				</entry>
			</map>
		</property>
	</bean>
	<!-- 配置 messageSource -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>messages</value>
		</property>
	</bean>
</beans>